<!DOCTYPE html>
<html lang="en">
<head>
  <title>YouTube Channel Recommender</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<style>
h4,h5,h6, td,th
{
	color: white;
}
.loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
  margin-right: auto;
  margin-left: auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.jumbotron { 
  background-color: #1a1423; /* Orange */
  color: white;
}

.main_background {
  background-color: #3d314a;
}
.row{
  margin-top: 15px;
}
#recommendations
{
  display: none;
}
#plots
{
  display: none;
}
#submit
{
  margin-right: auto;
  margin-left: auto;
  background-color: #AB8476;
}

</style>

<script type="text/javascript">
  var HttpClient = function() {
      this.get = function(aUrl, aCallback) {
          var anHttpRequest = new XMLHttpRequest();
          anHttpRequest.onreadystatechange = function() { 
              if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                  aCallback(anHttpRequest.responseText);
          }
          anHttpRequest.open( "GET", aUrl, true );            
          anHttpRequest.send( null );
      }
  }

  
  
  
  console.log(document.getElementById("plot1_likes"))

  

  function GetRecommendations(){
    var product_category= document.getElementById("selected_product").textContent;
    var video_category = document.getElementById("selected_video").textContent;
    var product_descr = document.getElementById("product_descr").value;
    var feature_imp_order1 = document.getElementById("selected_preference_1").textContent;
    var feature_imp_order2 = document.getElementById("selected_preference_2").textContent;
    var feature_imp_order3 = document.getElementById("selected_preference_3").textContent;
    features = ['Product Category','Video Category','Product Description']
    feature_wts = [0.5,0.3,0.2]
    var feature_imp_order = [0,0,0]

    if((feature_imp_order1 != "Choose an option" ) && (feature_imp_order2 != "Choose an option") && (feature_imp_order3 != "Choose an option"))
      {

        for (i = 0; i < 3; i++)
        {
          if (feature_imp_order1 == features[i])
          {
            feature_imp_order[i] = feature_wts[0]
          }
          else if (feature_imp_order2 == features[i])
          {
            feature_imp_order[i] = feature_wts[1]
          }
          else if (feature_imp_order3 == features[i])
          {
            feature_imp_order[i] = feature_wts[2]
          }
        }

        if ((product_category != "Choose an option" ) && (video_category != "Choose an option") )
        {
          if (product_descr != "Add description here")
          {
            
              document.getElementById("submit").style.display = "none";
              document.getElementById("recommendations").style.display = "none";
              document.getElementById("plots").style.display = "none";
              document.getElementById("loader").style.display = "block";
              
              var client = new HttpClient();
              client.get('http://127.0.0.1:3000/recommend?product_category='+product_category+'&video_category='+video_category+'&product_description='+product_descr+'&feature_weights='+feature_imp_order, function(response) {
                console.log(response)
                var response_list = response.split("-")
                console.log(response_list)
                var channel_names = response_list[0].substring(1,response_list[0].length-1).split(",")
                console.log(channel_names)
                  
                  document.getElementById("channel1").textContent = channel_names[0].trim()
                  document.getElementById("channel2").textContent = channel_names[1].trim()
                  document.getElementById("channel3").textContent = channel_names[2].trim()
                  document.getElementById("channel4").textContent = channel_names[3].trim()
                  document.getElementById("channel5").textContent = channel_names[4].trim()
                  

                  var likes = response_list[1].substring(1,response_list[1].length-1).split(",")
                  var dislikes = response_list[2].substring(1,response_list[2].length-1).split(",")
                  var views = response_list[3].substring(1,response_list[3].length-1).split(",")
                  var subscribers = response_list[4].substring(1,response_list[4].length-1).split(",")
                  var sentiment = response_list[5].substring(1,response_list[5].length-1).split(",")

                  var dict = {}; // create an empty array

  dict["channel1"]=[Number(likes[0].trim()),Number(dislikes[0].trim()),Number(views[0].trim()),Number(subscribers[0].trim()),Number(sentiment[0].trim())]
  
  dict["channel2"]=[Number(likes[1].trim()),Number(dislikes[1].trim()),Number(views[1].trim()),Number(subscribers[1].trim()),Number(sentiment[1].trim())]
  
  dict["channel3"]=[Number(likes[2].trim()),Number(dislikes[2].trim()),Number(views[2].trim()),Number(subscribers[2].trim()),Number(sentiment[2].trim())]
  
  dict["channel4"]=[Number(likes[3].trim()),Number(dislikes[3].trim()),Number(views[3].trim()),Number(subscribers[3].trim()),Number(sentiment[3].trim())]
  dict["channel5"]=[Number(likes[4].trim()),Number(dislikes[4].trim()),Number(views[4].trim()),Number(subscribers[4].trim()),Number(sentiment[4].trim())]


  data_likes = [{
  x: [channel_names[0].trim(), channel_names[1].trim(), channel_names[2].trim(), channel_names[3].trim(),channel_names[4].trim()],
  y: [dict["channel1"][0],dict["channel2"][0],dict["channel3"][0],dict["channel4"][0],dict["channel5"][0]],
  type: 'bar',
  marker: {
    color: '#AB8476'
  }
  }];

  Plotly.newPlot('plot1_likes', data_likes, 
    {title: 'Count of Likes',
    yaxis: {title: 'Count'},
    xaxis: {title:'Channel Name'}}, {showSendToCloud:true});

  data_dislikes = [{
  x: [channel_names[0].trim(), channel_names[1].trim(), channel_names[2].trim(), channel_names[3].trim(),channel_names[4].trim()],
  y: [dict["channel1"][1],dict["channel2"][1],dict["channel3"][1],dict["channel4"][1],dict["channel5"][1]],
  type: 'bar',
  marker: {
    color: '#AB8476'
  }
  }];

  Plotly.newPlot('plot2_dislikes', data_dislikes, {title: 'Count of Dislikes',
    yaxis: {title: 'Count'},
    xaxis: {title:'Channel Name'}}, {showSendToCloud:true});

  data_subscr = [{
  x: [channel_names[0].trim(), channel_names[1].trim(), channel_names[2].trim(), channel_names[3].trim(),channel_names[4].trim()],
  y: [dict["channel1"][2],dict["channel2"][2],dict["channel3"][2],dict["channel4"][2],dict["channel5"][2]],
  type: 'bar',
  marker: {
    color: '#AB8476'
  }
  }];

  Plotly.newPlot('plot3_subscr', data_subscr, {title: 'Count of Subscribers',
    yaxis: {title: 'Count'},
    xaxis: {title:'Channel Name'}}, {showSendToCloud:true});

  data_views = [{
  x: [channel_names[0].trim(), channel_names[1].trim(), channel_names[2].trim(), channel_names[3].trim(),channel_names[4].trim()],
  y: [dict["channel1"][3],dict["channel2"][3],dict["channel3"][3],dict["channel4"][3],dict["channel5"][3]],
  type: 'bar',
  marker: {
    color: '#AB8476'
  }
  }];

  Plotly.newPlot('plot4_views', data_views, {title: 'Count of Views',
    yaxis: {title: 'Count'},
    xaxis: {title:'Channel Name'}}, {showSendToCloud:true});

  data_sentiment = [{
  x: [channel_names[0].trim(), channel_names[1].trim(), channel_names[2].trim(), channel_names[3].trim(),channel_names[4].trim()],
  y: [dict["channel1"][4],dict["channel2"][4],dict["channel3"][4],dict["channel4"][4],dict["channel5"][4]],
  type: 'bar',
  marker: {
    color: '#AB8476'
  }
  }];

  Plotly.newPlot('plot5_sentiment', data_sentiment, {title: 'Sentiment Score',
  yaxis: {title: 'Score'},
  xaxis: {title:'Channel Name'}}, {showSendToCloud:true});
                  document.getElementById("loader").style.display = "none";
                  document.getElementById("submit").style.display = "block";
                  document.getElementById("recommendations").style.display = "block";
                  document.getElementById("plots").style.display = "block";
              });
                  
            
          }
          else
          {
            alert("Add product description")
          }
          
        }
        else{
          alert("Choose product category and video category")
        }

      }
      else
      {
        alert('Choose a value for each Feature preferences')
      }
    
    
  }
</script>



<body class='main_background'>

<div class="jumbotron text-center">
  <h1>YouTube Channel Recommender</h1> 
</div>
<div class="container-fluid main_background">
  <h4 class="text-center">Fill in these fields to get started</h4>
<div class="row margin">
  <div class="col-md-12 school-options-dropdown text-center">
    <h5>Select product category</h5>
    <div class="dropdown btn-group">

      <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown"><span id="selected_product">Choose an option</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu product_list">
       <li><a href="#">Health and Fitness</a></li>
    <li><a href="#">Fashion and Beauty</a></li>
    <li><a href="#">Books and Literature</a></li>
    <li><a href="#">Science and Technology</a></li>
    <li><a href="#">Home and Kitchen</a></li>
      </ul>

    </div>
  </div>
</div>

<div class="row margin">
  <div class="col-md-12 school-options-dropdown text-center">
    <h5>Select video category</h5>
    <div class="dropdown btn-group">

      <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown"><span id="selected_video">Choose an option</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu video_list">
       <li><a href="#">Entertainment</a></li>
    <li><a href="#">News and Politics</a></li>
    <li><a href="#">Style and Beauty blogs</a></li>
    <li><a href="#">Science and Technology</a></li>
    <li><a href="#">Fitness and Sports</a></li>
    <li><a href="#">Instructional and How to</a></li>
      </ul>

    </div>
  </div>
</div>

<div class="row margin">
  <div class="col-md-12 school-options-dropdown text-center">
    <h5>Add product description</h5>
    <div class="dropdown btn-group">

      <textarea rows="6" cols="30" id="product_descr">Add description here</textarea>

    </div>
  </div>
</div>

<div class="row margin">
  <div class="col-md-12 school-options-dropdown text-center">
    <h5>Select Feature weights</h5>
    <div class="dropdown btn-group">
      <h6>Preference 1</h6>
      <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown"><span id="selected_preference_1">Choose an option</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu pref_list1">
       <li><a href="#" id='pref11'>Product Category</a></li>
        <li><a href="#" id='pref12'>Video Category</a></li>
        <li><a href="#" id='pref13'>Product Description</a></li>
      </ul>
    </div>
    <div class="dropdown btn-group">
      <h6>Preference 2</h6>
      <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown"><span id="selected_preference_2">Choose an option</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu pref_list2">
       <li><a href="#" id='pref21'>Product Category</a></li>
        <li><a href="#" id='pref22'>Video Category</a></li>
        <li><a href="#" id='pref23'>Product Description</a></li>
      </ul>
    </div>
    <div class="dropdown btn-group">
      <h6>Preference 3</h6>
      <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown"><span id="selected_preference_3">Choose an option</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu pref_list3">
       <li><a href="#" id='pref31'>Product Category</a></li>
        <li><a href="#" id='pref32'>Video Category</a></li>
        <li><a href="#" id='pref33'>Product Description</a></li>
      </ul>

    </div>
  </div>
</div>

<div class="row margin">
  <div class="col-md-12 school-options-dropdown text-center">
<button type="button" class="btn btn-primary btn-md" id="submit" onclick="GetRecommendations();">Submit</button>
</div>
</div>
<div class="row margin">
  <div class="col-md-12 school-options-dropdown text-center">
<div class="loader text-center" id="loader"></div>
</div>
</div>
</div>

<div class="container text-center" id="recommendations">
  <h4>YouTube Channel Recommendations</h4>
  <h6>The top 5 recommendations are:</h6>            
  <table class="table text-center">
    <thead>
      <tr>
        <th class="text-center">No. </th>
        <th class="text-center">Channel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td id="channel1">Channel 1</td>
      </tr>
      <tr>
        <td>2</td>
        <td id="channel2">Channel 2</td>
      </tr>
      <tr>
        <td>3</td>
        <td id="channel3">Channel 3</td>
      </tr>
      <tr>
        <td>4</td>
        <td id="channel4">Channel 4</td>
      </tr>
      <tr>
        <td>5</td>
        <td id="channel5">Channel 5</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container text-center" id="plots">
  
  <h4>Analysis of the results:</h4>
  <div class='row'>
    <div class='col-sm-6'><div id="plot1_likes"><!-- Plotly chart will be drawn inside this DIV --></div></div>
    <div class='col-sm-6'><div id="plot2_dislikes"><!-- Plotly chart will be drawn inside this DIV --></div></div>
    
  </div>
  
  <div class='row'>
    <div class='col-sm-6'> <div id="plot3_subscr"><!-- Plotly chart will be drawn inside this DIV --></div></div>
    <div class='col-sm-6'><div id="plot4_views"><!-- Plotly chart will be drawn inside this DIV --></div></div>
  </div>

   <div class='row'>
    <div class='col-sm-3'><div><!-- Plotly chart will be drawn inside this DIV --></div></div>
    <div class='col-sm-6'><div id="plot5_sentiment"><!-- Plotly chart will be drawn inside this DIV --></div></div>
    <div class='col-sm-3'><div><!-- Plotly chart will be drawn inside this DIV --></div></div>
  </div>

</div>

<script type="text/javascript">
    var pref1=""
    var pref2=""
    var pref3=""
    $('.product_list a').click(function(){
    $('#selected_product').text($(this).text());
  });
    $('.video_list a').click(function(){
    $('#selected_video').text($(this).text());
  });
    $('.pref_list1 a').click(function(){
    $('#selected_preference_1').text($(this).text());
    pref1 = document.getElementById("selected_preference_1").textContent
    
    if (pref1==pref2 || pref1==pref3)
    {
      document.getElementById("selected_preference_1").textContent = "Choose an option";
    }
    if (pref1=='Product Category')
    {
      document.getElementById("pref22").style.display = "block"
      document.getElementById("pref32").style.display = "block"
      document.getElementById("pref23").style.display = "block"
      document.getElementById("pref33").style.display = "block"

      document.getElementById("pref21").style.display = "none"
      document.getElementById("pref31").style.display = "none"
    }
    if (pref1=='Video Category')
    {
      document.getElementById("pref21").style.display = "block"
      document.getElementById("pref31").style.display = "block"
      document.getElementById("pref23").style.display = "block"
      document.getElementById("pref33").style.display = "block"

      document.getElementById("pref22").style.display = "none"
      document.getElementById("pref32").style.display = "none"
    }
    if (pref1=='Product Description')
    {
      document.getElementById("pref21").style.display = "block"
      document.getElementById("pref31").style.display = "block"
      document.getElementById("pref22").style.display = "block"
      document.getElementById("pref32").style.display = "block"

      document.getElementById("pref23").style.display = "none"
      document.getElementById("pref33").style.display = "none"
    }
  });
    $('.pref_list2 a').click(function(){
    $('#selected_preference_2').text($(this).text());
    pref2 = document.getElementById("selected_preference_2").textContent
    if (pref1==pref2 || pref2==pref3)
    {
      document.getElementById("selected_preference_2").textContent = "Choose an option";
    }
    if (pref2=='Product Category')
    {
      if (pref1=='Video Category')
      {
          document.getElementById("pref31").style.display = "none"
          document.getElementById("pref32").style.display = "none"
          document.getElementById("pref33").style.display = "block"
          
      }
      else if (pref1=='Product Description')
      {
          document.getElementById("pref31").style.display = "none"
          document.getElementById("pref32").style.display = "block"
          document.getElementById("pref33").style.display = "none"
      }
      
      
    }
    if (pref2=='Video Category')
    {
      if (pref1=='Product Category')
      {
          document.getElementById("pref31").style.display = "none"
          document.getElementById("pref32").style.display = "none"
          document.getElementById("pref33").style.display = "block"
          
      }
      else if (pref1=='Product Description')
      {
          document.getElementById("pref31").style.display = "block"
          document.getElementById("pref32").style.display = "none"
          document.getElementById("pref33").style.display = "none"
      }
      
    }
    if (pref2=='Product Description')
    {
      if (pref1=='Product Category')
      {
          document.getElementById("pref31").style.display = "none"
          document.getElementById("pref32").style.display = "block"
          document.getElementById("pref33").style.display = "none"
          
      }
      else if (pref1=='Video Category')
      {
          document.getElementById("pref31").style.display = "block"
          document.getElementById("pref32").style.display = "none"
          document.getElementById("pref33").style.display = "none"
      }
      
    }
  });
    $('.pref_list3 a').click(function(){
    $('#selected_preference_3').text($(this).text());
    pref3 = document.getElementById("selected_preference_3").textContent
    if (pref1==pref3 || pref2==pref3)
    {
      document.getElementById("selected_preference_3").textContent = "Choose an option";
    }
  });

</script>

</body>
</html>